@*
    //----------------------------------------------------------------------------------
    // Copyright (c) Microsoft Corporation. All rights reserved.
    //
    // THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
    // EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES
    // OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
    //----------------------------------------------------------------------------------
    // The example companies, organizations, products, domain names,
    // e-mail addresses, logos, people, places, and events depicted
    // herein are fictitious.  No association with any real company,
    // organization, product, domain name, email address, logo, person,
    // places, or events is intended or should be inferred.
*@

@{
    ViewBag.Title = "Index";
}
@*Header Section*@
<div class="jumbotron">
    <h2>Windows Timelapse</h2>
    <h5>Bienvenidos a nuestra galeria!!! Vaya, vaya, Tacubaya, si no conoce...</h5>
    <span>

    </span>
    @Html.ActionLink("First ", "Index", "Home", new { page = 1 }, null)
    <span> Page number: @ViewBag.PageNumber </span>
    @Html.ActionLink("Nex > ", "Index", "Home", new { page = ViewBag.PageNumber+1 }, null)

</div>

@*loops through all files and displays three items:
    - The Image (159x159) - [Set in .thumb css class]
    - A delete icon (30X30) - [Set in .deleteDiv css class] (~/Images/deleteImage.png) that calls deleteImage JS function
    - A DeleteAll button if there are any items that calls the DeleteAll controller Action*@
@if (Model != null && Model.Count > 0) {

    foreach (var item in Model) {
        string[] parts = item.ToString().Split('/');
        string lastPart = parts[parts.Length - 1];
        
        <div class="imageBlock">
            <span>@lastPart</span><br />
            <a href="@item" target="_blank"><img class="thumb" src="@item" alt="images" /></a><br />
        </div>
    }
}
<script>
    //Calls async Task<ActionResult> DeleteImage(string name) in the HomeController and Refreshes the page
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        $.post(url, { Name: item }, function (data) {
            window.location.href = "/Home/Index";
        });
    }
</script>
